In [132]:
import numpy as np
import pandas as pd
from scipy import stats


def get_p_value(a, b, score_map):
    a_scores = score_map[a[0], a[1], a[2]]['f1-score']
    b_scores = score_map[b[0], b[1], b[2]]['f1-score']
    result = stats.ttest_rel(a_scores, b_scores)
    if result[0] > 0:
        best_args = a
        best_score = np.mean(a_scores)
        next_score = np.mean(b_scores)
    else:
        best_args = b
        best_score = np.mean(b_scores)
        next_score = np.mean(a_scores)
    print(best_args[1])
    print("best: %0.04f" % best_score, "next: %0.04f" % next_score)
    print("p-value: %0.04f" % result[1])


score_map = pd.read_pickle('./data/total_score_map')
names = ['nn', 'rf', 'lr']
opts = ['base', 'ours']
terms = [1, 2, 3, 4]
for name in names:
    print("=========================%s=========================" % name)
    for term in terms:
        print("==========%d============" % term)
        argses = tuple((name, opt, term) for opt in opts)
        len_ = len(argses)
        argses = [(argses[i], argses[i_]) for i in range(len_-1) for i_ in range(i+1, len_)]
        for args1, args2 in argses:
            get_p_value(args1, args2, score_map)

=========================nn=========================
==========1============
base
best: 0.7552 next: 0.7496
p-value: 0.4952
==========2============
ours
best: 0.8192 next: 0.8171
p-value: 0.7938
==========3============
ours
best: 0.9295 next: 0.9225
p-value: 0.0016
==========4============
ours
best: 0.8665 next: 0.8634
p-value: 0.2093
=========================rf=========================
==========1============
ours
best: 0.9259 next: 0.8937
p-value: 0.0000
==========2============
base
best: 0.9277 next: 0.9238
p-value: 0.2113
==========3============
base
best: 0.9142 next: 0.9135
p-value: 0.7849
==========4============
ours
best: 0.9042 next: 0.8993
p-value: 0.5819
=========================lr=========================
==========1============
ours
best: 0.7726 next: 0.7320
p-value: 0.0046
==========2============
base
best: 0.7981 next: 0.7908
p-value: 0.6402
==========3============
base
best: 0.8498 next: 0.7558
p-value: 0.0000
==========4============
base
best: 0.8775 next: 0.7679
p-value: 0.0000

In [131]:
opts = ['base', 'ours', 'text']
df = pd.DataFrame([score_map['nn', opt, 3]['f1-score'] for opt in opts]).T
df.columns = opts
df.apply(lambda x: round(x, 4))

      base    ours    text
0   0.9091  0.9091  0.7273
1   1.0000  1.0000  0.8000
2   0.9091  0.9091  1.0000
3   0.7143  0.7692  0.6667
4   1.0000  1.0000  0.7500
5   0.8333  0.8333  0.7143
6   0.9091  0.9091  0.3636
7   0.9091  0.9091  0.8333
8   1.0000  1.0000  0.3636
9   1.0000  1.0000  0.8000
10  0.8333  0.8333  0.6154
11  0.7143  0.7692  0.7692
12  0.9091  0.9091  0.8333
13  1.0000  1.0000  0.3750
14  0.9091  0.9091  0.7143
15  0.9091  0.9091  0.8333
16  0.9091  1.0000  0.8889
17  0.8333  0.9091  0.9091
18  0.9091  0.9091  0.8000
19  0.8333  0.8333  0.8333
20  0.8333  0.8333  0.9091
21  0.9091  0.9091  0.8000
22  0.7143  0.7692  0.6667
23  1.0000  1.0000  1.0000
24  1.0000  1.0000  0.3333
25  1.0000  1.0000  0.7143
26  1.0000  1.0000  0.8889
27  0.9091  0.9091  0.9091
28  1.0000  1.0000  0.8889
29  1.0000  1.0000  0.8889
..     ...     ...     ...
70  1.0000  1.0000  0.8000
71  0.9091  0.9091  0.8889
72  1.0000  1.0000  0.3158
73  1.0000  1.0000  0.8333
74  0.8333  0.8333  0.8000
75  1.0000  1.0000  0.2222
76  1.0000  1.0000  0.9091
77  0.8333  0.9091  0.7143
78  1.0000  1.0000  0.7500
79  1.0000  1.0000  0.6667
80  1.0000  1.0000  0.2857
81  0.9091  0.9091  0.3636
82  1.0000  1.0000  0.8333
83  0.9091  1.0000  0.7143
84  0.7143  0.7143  0.2222
85  0.8333  0.8333  0.8333
86  0.8333  0.8333  0.8000
87  0.8333  0.8333  0.8000
88  0.8333  0.8333  0.6000
89  1.0000  1.0000  0.7500
90  1.0000  1.0000  0.7500
91  1.0000  1.0000  0.7692
92  0.7692  0.7692  0.9091
93  0.9091  0.9091  0.8000
94  0.9091  0.9091  0.7500
95  1.0000  1.0000  0.7273
96  0.9091  0.9091  0.2500
97  1.0000  1.0000  0.8000
98  1.0000  1.0000  0.9091
99  1.0000  1.0000  0.8000

[100 rows x 3 columns]